{% extends 'base.html' %}
{% load static %}

{% block content_1 %}
<script src="{% static 'js/create_survey.js' %}"></script>

<div class="bg-purple-50 bg-opacity-75 min-h-screen">
    {% include 'navbar.html' %}
    <article id="article-wrapper" class="bg-white w-3/5 mx-auto shadow-xl md:p-12 mt-8">
        <div class="grid grid-cols-2">
            <h1 class="grid-start-1 ml-16 mt-4 custom_label_text_one md:text-4xl">Create your
                Survey!</h1>
            <img class="grid-start-2 max-h-40" src="{% static 'media/undraw_Accept_request_re_d81h.svg' %}"
                alt='undraw-at-work'>
        </div>
        <form method="POST" class="ml-12" class="">
            {% csrf_token %}

            <!-- Title -->
            <div class="">
                <label for='title' class="custom_label_text_one mr-12">Title</label>
                <input id='title' type="text" name='title' required class="custom_input_one">
            </div>
            <hr>

            <!-- Add Question-->
            <div id="add_question" class="inline-block custom_button_one custom_button_one_add w-40">Add Question</div>
            <div id="remove_question" class="inline-block custom_button_one custom_button_one_remove w-48">Remove Question</div>
            <hr>
            <button type="submit" class="custom_button_one_purple custom_button_one w-36">Submit</button>
        </form>


    </article>
</div>

{% endblock %}