{% extends 'base.html' %}
{% load static %}

{% block content_1 %}
<div class="bg-purple-50 bg-opacity-75 h-full">
    {% include 'navbar.html' %}
    <article class="bg-white w-3/5 mx-auto shadow-xl p-12 mt-8">
        <div class="grid grid-cols-2">
            <h1 class="grid-start-1 ml-16 mt-4 custom_label_text_one md:text-4xl">Create your
                Survey!</h1>
            <img class="grid-start-2 max-h-40" src="{% static 'media/undraw_Accept_request_re_d81h.svg' %}"
                alt='undraw-at-work'>
        </div>
        <form method="POST" class="ml-12" class="">
            {% csrf_token %}

            <!-- Title -->
            <div class="">
                <label for='title' class="custom_label_text_one mr-4">Title</label>
                <input id='title' type="text" name='title' class="custom_input_one">
            </div>
            <hr>
            
            <!-- First Default Question -->
            <label for="question_1" class="custom_label_text_one mr-4">Question</label>
            <input id='question_1' type="text" name='question_1' class="custom_input_one">
            <div class="custom_button_one cursor-pointer ml-16 w-32">Add Option</div>
            <hr>
            
            <!-- Add Question-->
            <div class="custom_button_one ml-16 cursor-pointer w-36">Add Question</div>
            <hr>
            <button type="submit" class="custom_button_one ml-16">Submit</button>
        </form>


    </article>
</div>

{% endblock %}