{% extends 'base.html' %}
{% load static %}

{% block content_1 %}

<article class="bg-purple-50 bg-opacity-75 min-h-screen">
    {% include 'navbar.html' %}

    <section class="bg-white w-3/5 mx-auto shadow-xl md:p-16 mt-8 text-center">

        <h1 class=" mt-4 custom_label_text_one md:text-4xl">{{survey.title}}</h1>
        <hr class="my-4">
        <p class=" custom_label_text_one text-lg md:text-2xl">{{survey.description}}</p>
        
        <div class="my-12"><a href="{% url 'start_survey' survey_id=survey.id %}" class="custom_button_one custom_button_one_purple">Start Survey</a></div>

        {% if request.user.id == survey.author.id %}
            <hr class="my-4">
            <div id="owner-adm-tools">
                <div class="my-12 inline-block">
                    <a href="{% url 'edit_questions' survey_id=survey.id %}" class="custom_button_one custom_button_one_add">Edit Questions</a>
                </div>

                <h1 class="my-4 custom_label_text_one md:text-2xl">Edit Survey</h1>
                <form method="POST" class="grid grid-cols-2">
                    {% csrf_token %}
                    {% for field in survey_edit_form %}
                        <div class="col-span-1">
                            {% if field.errors %}
                                <ol>
                                {% for error in field.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                            {% if field.is_hidden != True %}
                                <label for="{{field.id_for_label}}" class="text-xl font-mono font-bold text-purple-700 e mr-8">{{field.label}}</label>
                                {{field}}
                            {% else %}
                                {{field}}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class=" h-8">
                        <label class="custom_label_text_one md:text-xl">Delete</label>
                        <input type="checkbox" name="delete" value="delete">
                    </div>
                    
                    <div class="col-span-2 my-4">
                        <button id="submit_button" type="submit" class="custom_button_one_purple custom_button_one w-36">Submit</button>
                    </div>
                </form>

            </div>
        {% endif %}

    </section>


</article>



{% endblock %}