{% extends 'base.html' %}
{% load static %}

{% block content_1 %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'js/survey_stats.js' %}"></script>
{{ submission_data|json_script:"submission_data" }}

<article class="bg-purple-50 bg-opacity-75 min-h-screen">
    {% include 'navbar.html' %}

    <section class="bg-white w-3/5 mx-auto shadow-xl md:p-16 mt-8 text-center">
        {% if submission_data %}
            <div id="charts-wrapper"></div>
        {% else %}
            <h1 class="font-mono text-purple-700 font-bold ml-16 text-xl md:text-2xl lg:text-3xl">There are no submissions!</h1>
        {% endif %}
    </section>
</article>
{% endblock %}