{% extends 'base.html' %}
{% load static %}

{% block content_1 %}

<article class="bg-purple-50 bg-opacity-75 min-h-screen">
    {% include 'navbar.html' %}

    <section class="bg-white w-3/5 mx-auto shadow-xl md:p-16 mt-8 text-center">
    
        <form method="POST">
            {% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}

            <!-- RENDERING QUESTION FORM -->
            {% for form in form.forms %}
                <div class="question-wrapper mb-8">
                    {% for field in form %}

                        {% if field.errors %}
                            <ol>
                            {% for error in field.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                            </ol>
                        {% endif %}
                        {% if field.is_hidden != True %}
                            <label id="{{field.id_for_label}}" class="inline-block text-2xl font-mono font-bold text-purple-700 mr-8">{{field.value}}</label>
                        {% else %}
                            {{field}}
                        {% endif %}
                    {% endfor %}

                    {% if form.nested %}
                            <div class="mt-4 bg-purple-100 p-4 border rounded">
                                {% for choice in form.nested %}
                                    {% for field in choice %}
                                        <div class="grid grid-cols-2 border bg-purple-50 p-2">
                                            <label for="{{ field.id_for_label }}-{{form.instance_id}}" class="w-full text-xl font-mono font-bold text-purple-700 ml-8">
                                                {{ field.choice_label }}
                                            </label>
                                            <span class="radio"><input id="{{field.id_for_label}}-{{form.instance_id}}" type="radio" name="option-{{form.instance_id}}" value="{{field.data.value}}" required class="w-full text-purple-600"></span>
                                        </div>
                                        <br>
                                    {% endfor %}

                                {% endfor %}
                            </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button id="submit_button" type="submit" class="inline-block custom_button_one_purple custom_button_one w-36">Submit</button>
            <div id="after_submit" class="inline-block"></div>
        </form>
    </section>


</article>



{% endblock %}