{% extends 'base.html' %}
{% load static %}

{% block content_1 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="{% static 'js/update_survey.js' %}"></script>

<!-- HOLDS THE SURVEY ID VARIABLE FOR JS -->
{{ survey_id|json_script:"survey_id" }}

<article class="bg-purple-50 bg-opacity-75 min-h-screen">
    {% include 'navbar.html' %}
    <section id="article-wrapper" class="bg-white w-3/5 mx-auto shadow-xl md:p-16 mt-8">
        <div class="grid grid-cols-2">
            <h1 class="grid-start-1 ml-16 mt-4 custom_label_text_one md:text-4xl">Create your
                Survey!</h1>
            <img class="grid-start-2 max-h-40" src="{% static 'media/undraw_Accept_request_re_d81h.svg' %}"
                alt='undraw-at-work'>
        </div>
        
        <form id="form" method="POST" class="" class="">
            {% csrf_token %}
            {{ question_formset.management_form }}
            {{ question_formset.non_form_errors }}

            <!-- RENDERING QUESTION FORM -->
            {% for form in question_formset.forms %}
            <div class="question-wrapper">
               {% for field in form %}
                    {% if field.errors %}
                        <ol>
                        {% for error in field.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                   {% if field.is_hidden != True %}
                       <label for="{{field.id_for_label}}" class="inline-block text-xl font-mono font-bold text-purple-700 e mr-8">{{field.label}}</label>
                       {{field}}
                    {% else %}
                        {{field}}
                   {% endif %}
               {% endfor %}
               <br>
               <!-- RENDERING OPTION FORM -->
               {% if form.nested %}
                   {{ form.nested.management_form }}
                   {{ form.nested.non_form_errors }}
               <div class="mt-4 bg-purple-100 p-4 border rounded">
                   {% for nested_form in form.nested.forms %}
                       {% for field in nested_form %}
                            {% if field.errors %}
                                <ol>
                                {% for error in field.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                           {% if field.is_hidden != True %}
                               <label for="{{field.id_for_label}}" class="inline-block text-xl font-mono font-bold text-purple-700 e mr-8">{{field.label}}</label>
                               {{field}}
                            {% else %}
                               {{field}}
                           {% endif %}
                       {% endfor %}
                       <br>
                   {% endfor %}
                </div>
               {% endif %}
               <hr class="mb-6 mt-4">
            </div>
            {% endfor %}
            <!-- END QUESTION FORMS -->
            <div id="question-add" class="inline-block custom_button_one custom_button_one_add w-40">Add Question</div>
            <div id="question-remove" class="inline-block custom_button_one custom_button_one_remove w-46">Remove Question</div>
            <hr>
            <button id="submit_button" type="submit" class="inline-block custom_button_one_purple custom_button_one w-36">Submit</button>
            <div id="after_submit" class="inline-block"></div>
        </form>

        <!-- Empty Form for JS -->
        <div id="empty-form" class="hidden">
            {% for field in question_formset.empty_form %}
                {% if field.errors %}
                    <ol>
                    {% for error in field.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
                {% if field.is_hidden != True %}
                    <label for="{{field.id_for_label}}" class="inline-block text-xl font-mono font-bold text-purple-700 e mr-8">{{field.label}}</label>
                    {{field}}
                {% else %}
                    {{field}}
                {% endif %}
            {% endfor %}

            <!-- OPTION EMPTY FORM -->
            <div class="mt-4 bg-purple-100 p-4 border rounded">
                {% for field in question_formset.forms.0.nested.empty_form %}
                    {% if field.errors %}
                        <ol>
                        {% for error in field.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                    {% if field.is_hidden != True %}
                        <label for="{{field.id_for_label}}" class="inline-block text-xl font-mono font-bold text-purple-700 e mr-8">{{field.label}}</label>
                        {{field}}
                    {% else %}
                        <input id="{{field.id_for_label}}" type="hidden" name="{{field.html_name}}">
                    {% endif %}
                {% endfor %}
            </div>
        <hr class="mb-6 mt-4">
        </div>

    </section>
</article>

{% endblock %}