{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Surveys</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>
<body>
    <!-- Messages Displaying -->
    {% if messages %}
        <div class="absolute w-screen">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="bg-green-500 h-12 pt-2 text-center text-white text-lg md:text-xl">
                        <strong class="{{ message.tags }}">{{ message }}</strong>
                    </div>
                {% else %}
                    <div class="bg-red-500 h-12 pt-2 text-center text-white text-lg md:text-xl">
                        <strong class="{{ message.tags }}">{{ message }}</strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
  
    {% block content_1 %}
    {% endblock %}
</body>
</html>