{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Surveys</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>
<body>
    <!-- Messages Displaying -->
    {% if messages %}
    <ul class="absolute w-screen text-center bg-red-600 text-white px-4 py-2">
        {% for message in messages %}
        <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
        {% endfor %}
    </ul>
    {% endif %}
  
    {% block content_1 %}
    {% endblock %}
</body>
</html>