{% extends 'base.html' %}
{% load static %}
{% block content_1 %}
<article class="bg-white h-screen grid md:grid-cols-2 grid-cols-1">
      <!-- Forms Errors!! -->
    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
            <div class="absolute w-screen text-center bg-red-600 text-white px-4 py-2">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="absolute w-screen text-center bg-red-600 text-white px-4 py-2">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}

    <div class="grid justify-items-center col-start-1 col-end-2 md:col-start-1 md:col-end-2 h-4/5 mt-14">
        <h1 class="row-start-1 md:hidden underline text-xl md:text-2xl font-mono font-bold text-purple-700">Create Simple Surveys Fast!</h1>
        <form method="POST" class="row-start-2 row-span-2 md:ml-8 md:mt-8 text-xl font-mono font-bold">
          {% csrf_token %}
          <!-- Form Rendering!! -->
          {% for field in form %}
           <div class="fieldWrapper">
            <label for="{{field.id_for_label}}" class="text-purple-700">{{field.label}}</label>
            {{ field }}
          </div>
          {% endfor %}
          <button class="ml-auto font-bold bg-purple-700 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-purple-200 hover:text-purple-700 focus:outline-none focus:shadow-outline">Request Reset</button>
        </form>
    </div>
    <div class="hidden md:grid md:col-end-3 justify-items-center row-auto h-4/5 mt-20 text-purple-700 text-xl font-mono font-bold text-justify">
    <h1 class="ml-16 text-2xl">Create Simple Surveys Fast!</h1>
    <img class="max-h-96" src='{% static "media/undraw_Receipt_re_fre3.svg" %}' alt="undraw-reset">
    </div>
</article>
{% endblock %}